/*
    Program name: hw4.css
    Name: Jean Mina
    Date created: 9/15/2024
    Date last updated: 12/15/2024
    Version: 1.2
    Purpose: Homework 4 CSS
*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(3, 221, 214, 0.715);
    z-index: 1000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(145, 205, 235, 0.72);
    margin: 0;
    height: 100%;
}

h1, h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.td1, label {
    text-align: right;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

.error {
    color: red;
    font-size: 12px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.pword-message {
    color: red;
    padding: 10px;
    border-spacing: 2px;
}

iframe {
    border: 1px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(3, 221, 214, 0.715);
    text-align: right;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
