body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: rgba(145, 205, 235, 0.72);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(3, 221, 214, 0.715);
    text-align: center;
    padding: 10px;
}

.error {
    color: red;
    font-size: 12px;
}

iframe {
    border: 1px solid black;
}

.format table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

.format th, .format td {
    padding: 10px;
    text-align: left;
}
